{% extends "base.html" %}
{%block head%}
<div class="d-flex justify-content-center">
<div class="card " style="width:30rem">
    <div class="card-header">
     <h1> Pyhackons </h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Members</h5>
      <p class="card-text">The Page was created by PyHackons</p>
      <p class="card-text">E.K.Jithendiran</p>
      <p class="card-text">K.Meiarasu</p>
      <p class="card-text">T.Logesh</p>
      
      
    </div>
    <div class="card-footer text-muted">
        <form action="/crowdengine">
            <button type="submit" class="btn btn-primary" >Home</button>
        </form>
    </div>
  </div>
</div>
{%endblock%}
